src/FacturaElectronica.Ui.Win.Administrador/Service References/ServiceReferenceComprobanteService/ComprobanteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComprobanteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAEFechaVencimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CbteDesde" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CbteFecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CbteHasta" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ClienteId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ClienteNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoId" type="xs:int" />
      <xs:element minOccurs="0" name="FechaDeCarga" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVisualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="NroComprobante" type="xs:long" />
      <xs:element minOccurs="0" name="PathFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PtoVta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoComprobanteDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComprobanteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComprobanteDto" nillable="true" type="tns:ComprobanteDto" />
  <xs:complexType name="ComprobanteCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnioFacturacion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ArchivoAsociadoId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ClienteId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DiasDeVencimientoDesde" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DiasDeVencimientoHasta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentosNoVencidos" type="xs:boolean" />
      <xs:element minOccurs="0" name="DocumentosVencidos" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaDeCargaDesde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDeCargaHasta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDeRecepcionDesde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDeRecepcionHasta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencDesde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencHasta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MesFacturacion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MontoTotalDesde" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoTotalHasta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NroComprobante" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="PageSkip" type="xs:int" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoloDocumentosConNDias" type="xs:boolean" />
      <xs:element minOccurs="0" name="SortIsAsc" type="xs:boolean" />
      <xs:element minOccurs="0" name="SortingField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComprobanteId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoContratoId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComprobanteCriteria" nillable="true" type="tns:ComprobanteCriteria" />
  <xs:complexType name="ArrayOfComprobanteArchivoAsociadoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComprobanteArchivoAsociadoDto" nillable="true" type="tns:ComprobanteArchivoAsociadoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComprobanteArchivoAsociadoDto" nillable="true" type="tns:ArrayOfComprobanteArchivoAsociadoDto" />
  <xs:complexType name="ComprobanteArchivoAsociadoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivoAsociadoId" type="xs:long" />
      <xs:element minOccurs="0" name="CAE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAEFechaVencimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClienteCalculaVencimientoConVisualizacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClienteId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ClienteRazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComprobanteId" type="xs:long" />
      <xs:element minOccurs="0" name="DiasVencimiento" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DireccionIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeCarga" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDeRecepcion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVisualizacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MontoTotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NroComprobante" type="xs:long" />
      <xs:element minOccurs="0" name="PathArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoFacturacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PtoVta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoComprobanteDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComprobanteId" type="xs:int" />
      <xs:element minOccurs="0" name="TipoContratoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContratoId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComprobanteArchivoAsociadoDto" nillable="true" type="tns:ComprobanteArchivoAsociadoDto" />
  <xs:complexType name="TipoComprobanteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAfip" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoComprobanteDto" nillable="true" type="tns:TipoComprobanteDto" />
  <xs:complexType name="ArrayOfTipoComprobanteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoComprobanteDto" nillable="true" type="tns:TipoComprobanteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoComprobanteDto" nillable="true" type="tns:ArrayOfTipoComprobanteDto" />
  <xs:complexType name="ArrayOfTipoContratoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoContratoDto" nillable="true" type="tns:TipoContratoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoContratoDto" nillable="true" type="tns:ArrayOfTipoContratoDto" />
  <xs:complexType name="TipoContratoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoContratoDto" nillable="true" type="tns:TipoContratoDto" />
  <xs:complexType name="VisualizacionComprobanteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivoAsociadoId" type="xs:long" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioIdAuditoria" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisualizacionComprobanteDto" nillable="true" type="tns:VisualizacionComprobanteDto" />
  <xs:complexType name="EstadoArchivoAsociadoDto">
    <xs:sequence>
      <xs:element name="_x003C_Codigo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Descripcion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoArchivoAsociadoDto" nillable="true" type="tns:EstadoArchivoAsociadoDto" />
  <xs:complexType name="ArrayOfEstadoArchivoAsociadoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadoArchivoAsociadoDto" nillable="true" type="tns:EstadoArchivoAsociadoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadoArchivoAsociadoDto" nillable="true" type="tns:ArrayOfEstadoArchivoAsociadoDto" />
  <xs:complexType name="EstadoComprobantesDto">
    <xs:sequence>
      <xs:element name="_x003C_NoVisualizadosVencidos_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_NoVisualizados_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TotalComprobantes_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Visualizados_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoComprobantesDto" nillable="true" type="tns:EstadoComprobantesDto" />
</xs:schema>