src/FacturaElectronica.Ui.Win.Administrador/Service References/ServiceReferenceComprobanteService/ComprobanteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/FacturaElectronicaWsHost/ComprobanteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" />
  <xs:import schemaLocation="https://localhost/FacturaElectronicaWsHost/ComprobanteService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ObtenerComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comprobanteId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="ObtenerComprobanteResult" nillable="true" type="q1:ComprobanteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComprobantesPorCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="criteria" nillable="true" type="q2:ComprobanteCriteria" />
        <xs:element minOccurs="0" name="cantUltimosCbtes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComprobantesPorClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="ObtenerComprobantesPorClienteResult" nillable="true" type="q3:ArrayOfComprobanteArchivoAsociadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComprobantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="criteria" nillable="true" type="q4:ComprobanteCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComprobantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="ObtenerComprobantesResult" nillable="true" type="q5:ArrayOfComprobanteArchivoAsociadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUltimoComprobanteCargado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ptoVta" type="xs:int" />
        <xs:element minOccurs="0" name="cbeTipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUltimoComprobanteCargadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="ObtenerUltimoComprobanteCargadoResult" nillable="true" type="q6:ComprobanteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoComprobantePorCodigoAfip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoAfip" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoComprobantePorCodigoAfipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="ObtenerTipoComprobantePorCodigoAfipResult" nillable="true" type="q7:TipoComprobanteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposComprobantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposComprobantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="ObtenerTiposComprobantesResult" nillable="true" type="q8:ArrayOfTipoComprobanteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposContrato">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposContratoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="ObtenerTiposContratoResult" nillable="true" type="q9:ArrayOfTipoContratoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAniosFacturacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAniosFacturacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerAniosFacturacionResult" nillable="true" type="q10:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVisualizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="dto" nillable="true" type="q11:VisualizacionComprobanteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVisualizacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archivoAsociadoId" type="xs:long" />
        <xs:element minOccurs="0" name="codigoEstado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="ObtenerEstadoResult" nillable="true" type="q12:EstadoArchivoAsociadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="ObtenerEstadosResult" nillable="true" type="q13:ArrayOfEstadoArchivoAsociadoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArchivoPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archivoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArchivoPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerArchivoPorIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArchivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archivoId" type="xs:long" />
        <xs:element minOccurs="0" name="clienteId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerArchivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerArchivoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoComprobantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoComprobantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" minOccurs="0" name="ObtenerEstadoComprobantesResult" nillable="true" type="q14:EstadoComprobantesDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarFechaDeRecepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="archivosAsociados" nillable="true" type="q15:ArrayOfKeyValueOflongNullableOfdateTimeU6ho3Bhd" />
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarFechaDeRecepcionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>