src/FacturaElectronica.Ui.Win.Administrador/Service References/ServiceReferenceComprobanteService/ComprobanteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoComprobanteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoComprobanteDto" nillable="true" type="tns:TipoComprobanteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoComprobanteDto" nillable="true" type="tns:ArrayOfTipoComprobanteDto" />
  <xs:complexType name="TipoComprobanteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAfip" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoComprobanteDto" nillable="true" type="tns:TipoComprobanteDto" />
</xs:schema>