src/FacturaElectronica.Ui.Win.Administrador/Service References/ServiceReferenceSubidaArchivo/SubidaArchivoService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CorridaSubidaArchivoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalles" nillable="true" type="tns:ArrayOfCorridaSubidaArchivoDetalleDto" />
      <xs:element minOccurs="0" name="FechaProceso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Log" nillable="true" type="tns:ArrayOfCorridaSubidaArchivoLogDto" />
      <xs:element minOccurs="0" name="Procesada" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorridaSubidaArchivoDto" nillable="true" type="tns:CorridaSubidaArchivoDto" />
  <xs:complexType name="ArrayOfCorridaSubidaArchivoDetalleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CorridaSubidaArchivoDetalleDto" nillable="true" type="tns:CorridaSubidaArchivoDetalleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCorridaSubidaArchivoDetalleDto" nillable="true" type="tns:ArrayOfCorridaSubidaArchivoDetalleDto" />
  <xs:complexType name="CorridaSubidaArchivoDetalleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivoAsociadoId" type="xs:long" />
      <xs:element minOccurs="0" name="CorridaSubidaArchivoId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreArchivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcesadoOK" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorridaSubidaArchivoDetalleDto" nillable="true" type="tns:CorridaSubidaArchivoDetalleDto" />
  <xs:complexType name="ArrayOfCorridaSubidaArchivoLogDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CorridaSubidaArchivoLogDto" nillable="true" type="tns:CorridaSubidaArchivoLogDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCorridaSubidaArchivoLogDto" nillable="true" type="tns:ArrayOfCorridaSubidaArchivoLogDto" />
  <xs:complexType name="CorridaSubidaArchivoLogDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorridaId" type="xs:long" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorridaSubidaArchivoLogDto" nillable="true" type="tns:CorridaSubidaArchivoLogDto" />
  <xs:complexType name="ArrayOfCorridaSubidaArchivoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CorridaSubidaArchivoDto" nillable="true" type="tns:CorridaSubidaArchivoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCorridaSubidaArchivoDto" nillable="true" type="tns:ArrayOfCorridaSubidaArchivoDto" />
</xs:schema>