src/FacturaElectronica.Ui.Win.Administrador/Service References/ServiceReferenceSubidaArchivo/SubidaArchivoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts.Search" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts.Search" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CorridaSubidaArchivoSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorridaId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaLog" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoadDetalle" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoadLog" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreArchivoLike" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorridaSubidaArchivoSearch" nillable="true" type="tns:CorridaSubidaArchivoSearch" />
</xs:schema>