src/FacturaElectronica.Ui.Win.Administrador/Service References/ServiceReferenceSubidaArchivo/SubidaArchivoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubidaArchivoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISubidaArchivoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1500/SubidaArchivoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1500/SubidaArchivoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1500/SubidaArchivoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts" />
      <xsd:import schemaLocation="http://localhost:1500/SubidaArchivoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1500/SubidaArchivoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts.Search" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubidaArchivoService_CrearNuevaCorrida_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearNuevaCorrida" />
  </wsdl:message>
  <wsdl:message name="ISubidaArchivoService_CrearNuevaCorrida_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearNuevaCorridaResponse" />
  </wsdl:message>
  <wsdl:message name="ISubidaArchivoService_EjecutarCorrida_InputMessage">
    <wsdl:part name="parameters" element="tns:EjecutarCorrida" />
  </wsdl:message>
  <wsdl:message name="ISubidaArchivoService_ObtenerCorridas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCorridas" />
  </wsdl:message>
  <wsdl:message name="ISubidaArchivoService_ObtenerCorridas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCorridasResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubidaArchivoService">
    <wsdl:operation name="CrearNuevaCorrida">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubidaArchivoService/CrearNuevaCorrida" message="tns:ISubidaArchivoService_CrearNuevaCorrida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubidaArchivoService/CrearNuevaCorridaResponse" message="tns:ISubidaArchivoService_CrearNuevaCorrida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarCorrida">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubidaArchivoService/EjecutarCorrida" message="tns:ISubidaArchivoService_EjecutarCorrida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCorridas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubidaArchivoService/ObtenerCorridas" message="tns:ISubidaArchivoService_ObtenerCorridas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubidaArchivoService/ObtenerCorridasResponse" message="tns:ISubidaArchivoService_ObtenerCorridas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISubidaArchivoService" type="tns:ISubidaArchivoService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISubidaArchivoService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearNuevaCorrida">
      <soap12:operation soapAction="http://tempuri.org/ISubidaArchivoService/CrearNuevaCorrida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarCorrida">
      <soap12:operation soapAction="http://tempuri.org/ISubidaArchivoService/EjecutarCorrida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCorridas">
      <soap12:operation soapAction="http://tempuri.org/ISubidaArchivoService/ObtenerCorridas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubidaArchivoService">
    <wsdl:port name="WSHttpBinding_ISubidaArchivoService" binding="tns:WSHttpBinding_ISubidaArchivoService">
      <soap12:address location="http://localhost:1500/SubidaArchivoService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1500/SubidaArchivoService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>