src/FacturaElectronica.Ui.Win.Administrador/Service References/ServiceReferenceCorrida/ProcesoCorridaService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts.Search" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FacturaElectronica.Common.Contracts.Search" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CorridaSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorridaId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorridaSearch" nillable="true" type="tns:CorridaSearch" />
  <xs:complexType name="LogSearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorridaId" type="xs:long" />
      <xs:element minOccurs="0" name="LogId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogSearch" nillable="true" type="tns:LogSearch" />
</xs:schema>